nav {
    margin-top: 35px;
  }
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 700px;
  }
  nav li {
    margin-right: 30px;
  }
  nav a {
    display: block;
    position: relative;
    color: #fff;
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-decoration: none;
  }
  nav a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #9e7f25;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  nav a:hover:before {
    visibility: visible;
    width: 25px;
  }
  nav a:hover {
    color: #12d640;
    text-decoration: none;
  }
  .container2 {
    padding-left: 12.2%;
  }
  .Education {
    position: relative;
    margin-top: 4%;
    padding-left: 2%;
    width: 100%;
  }
  .Education .container .title h2 {
    font-size: 26px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #dee2e6;
    font-family: "Poppins", sans-serif;
  }
  .Education .row {
    gap: 6%;
    margin-top: 2%;
    --bs-gutter-x: 0;
    display: flex;
    flex-wrap: nowrap;
  }
  .Education .row .card {
    background-color: #09203a;
    transition: ease-in-out 0.3s;
  }
  .Education .row .card:hover {
    background-color: #042b56eb;
  }
  .Education .row .card .card-body {
    color: #dee2e6;
  }
  .edu {
    margin-top: 3%;
  }
  .edu img {
    max-width: 100%;
    height: 30%;
  }
  .edu .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 20%;
    height: 20%;
  }
  .edu .portfolio-wrap::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
  .edu .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .edu .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s ease 0s;
  }
  .edu .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }
  .edu .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  .edu .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
  }
  .edu .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }
  .edu .portfolio-wrap .portfolio-links a:hover {
    color: #63eda3;
  }
  .edu .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }
  .edu .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
  }
  .edu .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
  }
  .edu .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
  }
    
/* ==================================================RESPONSIVE================================================= */
@media (max-width:768px) {
  .container2 {
    padding-left: 0;
}
.Education .container .title h2 {
  font-size: 21px;
}
.Education .row {
  --bs-gutter-x: 0;
  display: flex;
  flex-wrap: wrap;
}
.edu .portfolio-wrap {
  width: 35%;
}
}